@font-face {
    font-family: "NimbusSans";
    src: local("NimbusSans"),
     url("../fonts/Nimbus-Sans-D-OT-Bold_32747.ttf") format("truetype");
    font-weight: bold;
  }
  
  .font-face-gm {
    font-family: "NimbusSans";
  }


  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #463D39;
    border-radius: 10px;
  }

  #box::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  #box::-webkit-scrollbar-track {
    background: #F1E9E6;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  /* Handle */
  #box::-webkit-scrollbar-thumb {
    background: #F1E9E6;
    border-radius: 10px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    background-clip: content-box;
  }